.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav-wrapper nav {
    display: flex;
    flex-direction: row;

}

.nav-wrapper nav a {
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.nav-wrapper a:hover {
    transform: translateY(10px);
}



.logo {
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.logo:hover {
    transform: translateY(10px);
}

