.about-me {
    display: flex;
    flex-direction: column;
    padding-left: 160px;
    padding-top: 35px;
    font-family: 'Tajawal', sans-serif; 
}

h1 {
    color: whitesmoke;
}

p {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    width: 50%;
}