.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: whitesmoke;
}

p {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    width: 50%;
}